.AdminPlaceListContainer {
    text-align: center;
    margin: 0 auto;
    padding: 0 18%;
    box-sizing: border-box;
    font-family: 'PretendardFont-Light';
}

.adminPlaceBoardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* 카드 크기 및 그리드 자동 채우기 */
    gap: 34px; /* 카드 간격 */
    margin: 4%;
}

.adminPlaceAddContainer {
    display: flex;
    margin-top: 2%;
}

.adminPlaceAdd {
    margin-left: auto;
    font-family: 'PretendardFont-Medium';
    font-size: 0.94rem;
    color: rgb(176, 176, 176);
    border: none;
    border-bottom: 1px solid rgb(176, 176, 176);
    background: none;
    cursor: pointer;
}

.adminPlaceAdd:hover {
    color: #67C1C7;
    border-bottom: 1px solid #67C1C7;
}