/* BoardItem.css */
.Board-card {
    width: 30%;
    background-color: #fff;
    border-radius: 8px;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
  }
  
  .image-Boardholder {
    width: 100%;
    height: 160px;
    background-color: #cccccc;
    border-radius: 4px;
  }

  .BoardItem-Name {
    width: 100%;
    font-size: 20px;
    text-align: left;
    margin-top: 3%;
    padding-left: 4%;
    font-weight: 700;
    color: #313131;
    font-family: 'PretendardFont';
  }
  
  .BoardItem-address, .BoardItem-phone {
    width: 100%;
    font-size: 14px;
    color: #797979;
    margin-top: 2%;
    text-align: left;
    padding-left: 4%;
    font-family: 'PretendardFont';
  }
  