.plan-day-item {
    margin-bottom: 20px;
}

.plan-day-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon {
    color: #89c9e0; /* 파란색 비행기 */
    font-size: 20px;
    margin-right: 10px;
}

.day {
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
}

.date {
    font-size: 14px;
    color: #555;
}

.place-list {
    margin-top: 10px;
}
